@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: 'Geologica';
    font-style: normal;
    font-display: swap;
    src: url(../public/fonts/Geologica-Sharp-VariableFont_wght.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Anton';
    font-style: normal;
    font-display: swap;
    src: url(../public/fonts/Anton-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-display: swap;
    src: url(../public/fonts/RubikMonoOne-Regular.ttf) format('truetype');
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

#svgText{
  font-size: 2.5vw;
	-webkit-animation: stroke 15s 1 linear;
	-moz-animation: stroke 15s 1 linear;
	animation: stroke 15s 1 linear;
}

.buttonFly{
  animation: spinning 0.5s 6 linear, flyLeft 3s ease-in 1;
  -webkit-animation: spinning 0.5s 6 linear, flyLeft 3s ease-in 1;
  -moz-animation: spinning 0.5s 6 linear, flyLeft 3s ease-in 1
}
.buttonFlyOpposite{
  animation: spinning 0.5s 6 linear, flyRight 3s ease-in 1;
  -webkit-animation: spinning 0.5s 6 linear, flyRight 3s ease-in 1;
  -moz-animation: spinning 0.5s 6 linear, flyRight 3s ease-in 1
}
.spin {
  animation-play-state: running;
}

@keyframes stroke {
	0% {stroke-dashoffset: 50%; stroke-dasharray: 0 50%; stroke-width: 1; fill-opacity:0}
	25% {stroke-dashoffset: 12.5%; stroke-dasharray: 25% 25%; stroke-width: 1;}
	50% {stroke-dashoffset: 0%; stroke-dasharray: 50% 0; stroke-width: 3;fill-opacity:0}
	100% {stroke-width: 2; fill-opacity: 1; }
}

@keyframes spinning {
  0% {transform:rotate(0deg)}
  100% {transform: rotate(360deg);}
}

@keyframes flyLeft {
  /* 0% {scale: 1; opacity: 1; transform: translateX(0px) translateY(0px);}
  100% {scale: 0; opacity: 0; transform: translateX(200px) translateY(-50px);} */
  from {top: 0px;}
  to {top: 200px;}
}
@keyframes flyRight {
  0% {scale: 1; opacity: 1; transform: translate(0px, 0px)  rotateZ(0.001deg);}
  100% {scale: 0; opacity: 0; transform: translate(-200px, 50px)  rotateZ(0.001deg);}
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@media screen and (max-width: 480px){
  #gridView, #configPanel, #commandPanel{
    scale: 0.4
  }
}
@media screen and (max-width: 1000px){
  #gridView, #configPanel, #commandPanel{
    scale: 0.6
  }
}
@media screen and (max-width: 1200px)  {
  #gridView, #configPanel, #commandPanel{
    scale: 0.8
  }
}
@media screen and (min-width: 1200px)  {
  #gridView, #configPanel, #commandPanel{
    scale: 1
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
