@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Geologica';
    font-style: normal;
    font-display: swap;
    src: url(../public/fonts/Geologica-Sharp-VariableFont_wght.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Anton';
    font-style: normal;
    font-display: swap;
    src: url(../public/fonts/Anton-Regular.ttf)
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media screen and (max-width: 480px){
  #gridView, #configPanel, #commandPanel{
    scale: 0.4
  }
}
@media screen and (max-width: 1000px){
  #gridView, #configPanel, #commandPanel{
    scale: 0.6
  }
}
@media screen and (max-width: 1200px)  {
  #gridView, #configPanel, #commandPanel{
    scale: 0.8
  }
  #gridView {
    margin-left: -100px
  }
}
@media screen and (min-width: 1200px)  {
  #gridView, #configPanel, #commandPanel{
    scale: 1
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
